<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Validation Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/app/FormValidation.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-localization.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="~/Scripts/app/ModalService.js"></script>
    <style>
        .center-modal .modal-dialog{
            position: initial;
        }
    </style>
</head>
<body ng-controller="DemoCtrl">
    <div class="container">
        <div class="page-header">
            <h1>Registration form <small>A form validation demo with basic fields</small></h1>
        </div>

        <!-- Registration form - START -->
        <div class="container">
            <div style="color:red;" render-validation-messages></div>

            <div class="row">
                <form name="formDemo" role="form"
                      validate-form
                      novalidate
                      resource-path="Demo"
                      form-visibility-map="formMap"
                      display-option="Summary">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Name">Enter Name</label>
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       name="Name"
                                       ng-model="Demo.Name"
                                       placeholder="Enter Name"
                                       ng-required="true"
                                       ng-maxlength="10">
                                <div style="color:red;" validation-for="Name"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email">Enter Email</label>
                            <div class="input-group">
                                <input type="email"
                                       class="form-control"
                                       name="Email"
                                       ng-model="Demo.Email"
                                       placeholder="Enter Email"
                                       ng-required="true">
                                <div style="color:red;" validation-for="Email"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Comments">Comments</label>
                            <div class="input-group">
                                <textarea name="Comments"
                                          ng-model="Demo.Comments"
                                          class="form-control"
                                          rows="5"
                                          ng-maxlength="30"></textarea>
                                <div style="color:red;" validation-for="Comments"></div>
                            </div>
                        </div>
                        <button type="submit" ng-click=ButtonClicked() class="btn btn-info pull-left">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Registration form - END -->
    </div>

</body>
</html>
<script type="text/javascript">
    angular.module("demo", ['FormValidations', 'ngLocalize', 'uiBootstrapHelpers'])
        .config(['FormValidationsConfig', function (FormValidationsConfig) {
            debugger;
            FormValidationsConfig.basePath = 'ValidationMsg';
            FormValidationsConfig.displayOption = 'item';
        }])
        //.value('localeConf', {
        //    basePath: '/languages',
        //    defaultLocale: 'en-ca',
        //    sharedDictionary: 'common',
        //    fileExtension: '.lang.json',
        //    persistSelection: true,
        //    cookieName: 'COOKIE_LOCALE_LANG',
        //    observableAttrs: new RegExp('^data-(?!ng-|i18n)'),
        //    delimiter: '::'
        //})
        //.factory('ReadJson', ['locale', '$q', function (locale, $q) {
        //    return {
        //        get: function (url) {
        //            var deferred = $q.defer();
        //            locale.ready(url).then(function (jsonResult) {
        //                deferred.resolve(jsonResult);
        //            });
        //            return deferred.promise;
        //        }
        //    };
        //}])

    .controller('DemoCtrl', ['$scope', 'modalService', function (scope, modalService) {
        scope.Demo = { "Name": "", "Email": "", "Comments": "" };
        scope.formMap = [{ "name": "formDemo", "visible": true }];
        scope.ButtonClicked = function () {
            var modalOptions = {
                headerText: "Test",
                bodyText: "Do u wish to continue",
                showMultiActions: [{ text: "Action 1", visible: true, value: 1 },
                                   { text: "Action 2", visible: true, value: 2 },
                                   { text: "Action 3", visible: true, value: 3 }]
            };
            var modalDefaults = {
                windowClass: 'center-modal'
            };
            modalService.showMultiActionModal(modalOptions, modalDefaults).then(function (results) {
                alert(results);
            },
            function (result) {
                alert("No");
            });

            //modalDefaults.size = 'sm';
            //modalService.showAlert(modalOptions, modalDefaults).then(function () {
            //    alert("Yes");
            //},
            //function (result) {
            //    alert("No");
            //});
        };
    }]);
</script>
